/* To run this site on netlify for free, do below in bash terminal 
ctrl+l- clears the bash terminal
git init- it initializes the git repo, creates hidden folder .git which could be checked with ls -a
git add . - it adds all files to staging area within git, staging area could be checked with git status
git commit - To put these files from staging area to local repo, git commit -m 'First Commit'
ls -a - To check whats present in folder
git remote add origin https://github.com/Gurmander/News-Grid.git
git push -u origin main- This one didn't worked so tried the next one
git push -u origin master- pushed the files to github repo
*/

/* namecheap for domain name */
:root{
  --pcolor: #c72727;
  --scolor: #f99500;
  --lcolor: #f3f3f3;
  --dcolor: #333;
  --max-width:1100px;
}

.category{
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Lato', sans-serif;
  line-height: 1.5;
  background: var(--lcolor);
}

ul{
  list-style:none;
}

img{
  /* this sets the image to 100% of their container */
  width:100%;
}

p {
  margin: 0.5rem 0;
}


a{
  color:#333;
  text-decoration:none;
}

h1, h2, h3, h4, h5{
  font-family: 'Staatliches', cursive;
  margin-bottom: .55rem;
  line-height: 1.3;
}

/* Utility */
.container{
  max-width:var(--max-width);
  margin:auto;
  padding:0 2rem;
  overflow:hidden;
}

.category{
  display:inline-block;
  color:#fff;
  font-size: 0.55rem;
  text-transform:uppercase;
  padding:0.4rem 0.6rem;
  border-radius:15px;
  margin-bottom: 0.5rem;
}

.category-sports{ background: var(--scolor) }
.category-ent{ background: var(--ent-color) }
.category-tech{ background: var(--tech-color)}

.btn{
  display:inline-block;
  border:none;
  background: var(--dcolor);
  color:#fff;
  padding:0.5rem 1.5rem;
}

.btn-light{ background: var(--lcolor)}
.btn-primary{ background: var(--pcolor)}
.btn-secondary{ background: var(--scolor)}

.btn:hover{
  opacity:0.8;
}

.btn-block{
  display:block;
  width:100%;
  text-align:center;
}

.card{
  background:#fff;
  padding:1rem;
}

.bg-dark{
  background: var(--dcolor);
  color:#fff;
}

.bg-primary{
  background: var(--pcolor);
  color:#fff;
}

.bg-secondary{
  background: var(--scolor);
  color:#fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a{
  color:#fff;
}

.py-1{ padding: 1.5rem 0}
.py-2{ padding: 2rem 0}
.py-3{ padding: 3rem 0}

.p-1{ padding: 1.5rem}
.p-2{ padding: 2rem}
.p-3{ padding: 3rem}

.list li{
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width:90%;
}

.list li a:hover{
  color: var(--pcolor) !important;
}

/* Inner page grid container */
.page-container{
  display:grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap:1.5rem;
}

.page-container > *:first-child{
  grid-row: 1 /span 3;
}

.l-heading{
  font-size:3rem;
}

/* Navbar */
#main-nav{
  background:#fff;
  position:sticky;
  top:0;
  z-index:2;
}

#main-nav .container{
  display:grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items:center;
}

#main-nav .logo{
  width:180px;
}

#main-nav ul{
  justify-self:end;
  display:flex;
}

#main-nav ul li a{
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav ul li a.current{
  background: var(--pcolor);
  color: #fff;
}

#main-nav ul li a:hover{
  background: var(--lcolor);
  color: var(--dcolor);
}  

#main-nav .social{
  justify-self: center;
}

#main-nav .social i{
  color:#777;
  margin-right:.5rem;
}

/* Showcase */
#showcase{
  color:#fff;
  background:#333;
  padding:2rem;
  /* to use image as overlay with before, its parent element must be relative */
  position:relative;
}

#showcase:before{
  content:'';
  background:url('../Images/image_resources/featured.jpg') no-repeat center center/cover;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0.4;
}

#showcase .showcase-container{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content:center;
  align-items:center;
  height: 50vh;
}

#showcase .showcase-content{
  z-index:1;
}

#showcase .showcase-content p{
  margin-bottom: 1rem;
}


/* Home article */
#home-articles .articles-container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1rem;
}

/* #home-articles .articles-container article:first-child- similar to below, but in case we changed article to div in html, below css will still apply, as we are selecting the direct child of articles-container, asterist meaning all elements within this class, and further from all it should be just first-child*/
#home-articles .articles-container > *:first-child{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:1rem;
  align-items:center;
  grid-column: 1/span 2;
}

#home-articles .articles-container > *:last-child{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:1rem;
  align-items:center;
  grid-column: 2/span 2;
}

#article .meta{
  display:flex;
  justify-content: space-between;
  align-items:center;
  background:#eee;
  padding:0.5rem;
}

#article .meta .category{
  margin-top: 0.4rem;
}

/* Footer */
#main-footer{
  background: var(--dcolor);
  color:#fff;
}

#main-footer img{
  width:150px;
}

#main-footer a{
  color:#fff;
}

#main-footer .footer-container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child{
  background:#444;
  grid-column: 1 /span 4;
  padding:0.5rem;
  text-align:center;
  font-size:0.75rem;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding:0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
  width:90%;
}












